#header{
    background-image: url(https://motherboard-images.vice.com/content-images/contentimage/no-id/1441286087064677.jpg) ;
    padding: 20%;
    width: auto;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px #666666;
    text-align: center;
    
}
h1{
    font-size: 400%;
    }
.donate{
    padding: 20px;
    background-color: #1959c1;
    display:flex;
    justify-content: center;
}
button{
  width: auto;

  display: block;
  background-color: #00ffcc;
  display: block;
  
  text-align: center;
  font-size: 40px;
}
